
*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

a{color: inherit; text-decoration: none;-webkit-tap-highlight-color:transparent;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }

body{font:14px/1.5 Helvetica,sans-serif;font-size: 15px;background: white;}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body{
    font-size: 15px;
    background: white;
  }
  .sectionTitle{
    border-left: 2px solid #D43C33;
    font-size: 17px;
    line-height: 1;
    padding-left: 8px;
    margin: 20px 0 8px;
  }
  .sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: white;
  }
  section.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D43C33;
    padding: 17px 10px;
  }
  section.topbar .logo>svg{
    width: 142px;height: 25px;
    vertical-align: top;
  
  }
  section.topbar > a{
    color: white;
    display: inline-block;
    padding: 5px 11px;
    line-height: 20px;
    position: relative;
  }
  section.topbar > a::after{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 200%;
    height: 200%;
    border: 1px solid white;
    border-radius: 50px;
    transform: scale(0.5);
    transform-origin: 0 0;
  }
  
  /* tabs-nav */
  .tabs-nav{
    display: flex;
    border-bottom: 1px solid #CCCCCC;
  }
  .tabs-nav>li{
    width: 33.333333%;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabs-nav>li>.text{
    padding: 10px 5px;
    position: relative;
    top: 1px;
  }
  .tabs-nav >li.active{
    color: #D43C33;
  }
  
  .tabs-nav >li.active>.text::after{
    content: '';
    position: absolute;
    height: 2px;
    background: #D43C33;
    bottom: 1px;
    left: 0;
    width: 100%;
  }
  .tab-content{
    margin-top: 105px;
  }
  .tab-content > li{
    display: none;
  }
  .tab-content > li.active{
    display: block;
  }
  .noCollapse::before{
    content:'';
    display: table;
  }
  .noCollapse::after{
    content:'';
    display: table;
  }
  
  
  section.playlists > ol.songs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
  }
  section.playlists > ol.songs > li{
    width: 32.8%;
    margin: 8px 0;
  }
  section.playlists > ol.songs > li p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 18px;
    height: 36px;
    padding: 0 6px;
  }
  section.playlists > ol.songs > li img{
    width: 100%;
  }
 
  section.songs > .list {
    margin-top: 18px;
  }
  section.songs > .list > .songs-row {
    display: flex;
    flex-direction: column;
  }
  section.songs > .list > .songs-row > h3{
    font-size: 17px;
  }
  section.songs > .list > .songs-row > p{
    font-size: 12px;
    color: #888;
  }
  section.songs > .list > .songs-row{
    position: relative;
    margin-left: 10px;
    padding-bottom: 6px;
    padding-top: 5px;
    border-bottom: 1px solid #E2E2E3;
  }
  section.songs > .list .songs-row .playButton{
    position: absolute;
    right:8px;
    top: 50%;
    transform: translateY(-50%);
  }
  section.songs > .list .songs-row .icon-play{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #AAA;
  }
  section.songs > .list .songs-row .icon-sq{
    fill: #FE672E;
  }
  section.art{
    padding-top: 38px;
    padding-bottom: 18px;
    background: transparent url(//i.loli.net/2017/08/25/599f862b9c98d.png) no-repeat center;
    background-size: cover;
    text-align: center;
  }
  section.art svg{
    width: 230px;
    height: 44px;
  }
  section.art .link-wrapper > a{
    display: inline-block;
    border: 1px solid;
    line-height: 40px;
    font-size: 16px;
    padding: 0 19px;
    border-radius: 20px;
    color:#D43C33;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  section.art .copyright{
    font-size: 12px;
    color: #888;
    transform: scale(.75);
  }

  /*page-2*/

.hotop{
  background: url(../img/hot_music_bg_2x.jpg) no-repeat;
  background-size: cover;
  height: 22vh;
}
.hotopct{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

}
.hoticon {
  width: 142px;
  height: 67px;
  margin-left: 24px;
  margin-top: 30px;

}
.hottime{
  margin-top: 0px;
  margin-left: 24px;
  color: hsla(0,0%,100%,.8);
  font-size: 12px;
}
.song-number{
  width: 28px;
  height: 54px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-2   .song-row{
  display: flex;
  position: relative;
  flex-direction: row;
  -webkit-tap-highlight-color:transparent;
}
.page-2  .song-row .song-number{
  align-items: center;
  width: 8vw;
  margin-left: 6px;
  font-size: 17px;
  color: #999;
}
.page-2  .song-row .song-number.three{
  color: #df3436;
}

.page-2  .song-row .play-sgchfi{
  width: 80vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding-left: 5px;
  
  
}
.page-2  .song-row span > h3{
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    line-height: 24px;
    margin-top: 6px;
    
}
.page-2  .song-row span>p{
  font-size: 13px;
    color: #888;
}
.page-2  .song-row span>p .icon-sq{
  fill: #FE672E;
}
.page-2  .song-row .playButton{
  position: absolute;
  right:8px;
  top: 50%;
  transform: translateY(-50%);
}
.page-2 .song-row .playButton .icon-play{
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: #AAA;
}

/*page-3*/
.page-3 .inputcover{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.page-3 .icon{
       position: absolute;
       left: 2px;
       top: 36%;
       width: 1.5em; height: 1.5em;
       fill: red;
       overflow: hidden;
}
.page-3 input{
  
  height: 35px;
  width:100%;
  color: #333;
  border-radius: 30px;
  padding: 2px 0;
  padding-left: 9%;
  padding-right: 4%;
  font: 14px Helvetica,sans-serif;;
  background-color: rgb(238, 237, 237);
  border: none;
  outline: none;
  margin: 20px 0;
}
.page-3 input::-webkit-input-placeholder{color:rgb(221, 221, 221);font-size: 14px;}
.page-3 .serarch{
  position: relative;
  width:90%;
}
.page-3 .hotlist{
  width: 100%;
  padding: 15px 10px 10px;
  border-top: 1px solid #ddd;
}
.page-3 .footer-btn{
  width: 100%;
  padding: 15px 10px 0;
  border-top: 1px solid #ddd;
}
.serarch-song{
  margin:0 5px;
  display: flex;
  flex-wrap: wrap;
}
.serarch-song .red-song{

  margin: 10px 5px;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer	;
  border: 1px solid #ddd;
  border-radius: 20px;
}
.serarch-song .ts{
  margin: 0px 5px;

}